body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-size: medium;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: #ffffff;
    color: rgb(42, 57, 130);
    box-shadow: -1px 0 5px rgba(42, 57, 130, 0.1);
}

#logo {
    display: block;
    width: 100%;
    padding-top: 10%;
    padding-left: 18%;
}

#logo img {
    width: 110px;
}

.dropdown-btn {
    background-color: #435ebe;
    color: white;
    width: 80%;
    padding: 12px 20px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.dropdown-btn:hover {
    background-color: #8596d5;
}

.dropdown-container a {
    color: #25396f;
    text-decoration: none;
    padding: 0px 0px 20px 10px;
    display: block;
    font-size: 13px;
}

.dropdown-container a:hover {
    color: #8596d5;
}

.dropdown-container {
    display: none;
    width: 60%;
    margin-left: 18%;
}

/* Estilos para mostrar obras */

#main-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.obra {
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.obra h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.obra p {
    margin: 0;
    font-size: 0.8em;
    color: #666;
}

.obra img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.obra2 {
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.botoesDiv {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.botoesDiv button {
    padding: 3px 9px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
}

.botoesDiv button.editar {
    background-color: #007bff;
}

.botoesDiv button.remover {
    background-color: #dc3545;
}

/* Estilos para o formulário */
.form-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.form-buttons {
    margin-top: 20px;
    text-align: right;
}

.form-buttons button {
    padding: 8px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-buttons button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.form-buttons button[type="button"] {
    background-color: #6c757d;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    position: relative;
    font-family: Roboto, sans-serif;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-botoes {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-conteudo input,
.modal-conteudo textarea {
    width: 40%;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}


/* Estilos para a tabela dos relatorios */


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    margin-left: 50px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #ffffff;
    font-weight: bold;
}

table tr:hover {
    background-color: #dbf5fc;
}


/* Estilos para a seção de transferência */
#main-content-transferirexemplares {
    padding: 20px;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.lista-obras {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1em;}