@page
@model BibliotecaXPTO.Pages.User.PerfilModel
@{
    ViewData["Title"] = "Perfil";
}

<header>
    <nav class="sidebar">
        <div class="menu-icon">☰</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-page="/User/Inicial">
                    <i class="fas fa-home"></i> <span class="menu-text">Inicial</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-page="/User/Obras">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span class="menu-text">Obras</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-page="/User/Requisicoes">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <span class="menu-text">Requisições</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-page="/User/Historico">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span class="menu-text">Histórico</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-page="/User/Perfil">
                    <i class="fas fa-user"></i> <span class="menu-text">Perfil</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
